<div class="container">
  <div class="car">
    <div class="top">
      <div class="ceiling">
        <div class="windshield">
          <div class="background"></div>
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="bumper">
        <div class="tail-light">
          <div class="break"></div>
          <div class="backup"></div>
          <div class="turn-light left"></div>
        </div>
        <div class="plate">
          <div class="number">D1PP3R JS</div>
        </div>
        <div class="tail-light">
          <div class="break"></div>
          <div class="backup"></div>
          <div class="turn-light  right"></div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="tire"></div>
      <div class="tire"></div>
    </div>
  </div>

  <div class="dashboard">
    <div class="buttons-container">
      <button mat-raised-button (click)="turn('left')">Left</button>
      <button mat-raised-button (click)="blink()">Blinkers</button>
      <button mat-raised-button (click)="turn('right')">Right</button>
      <button mat-raised-button>Break</button>
      <button mat-raised-button>Back up</button>
    </div>
  </div>
</div>
