@import '~@angular/material/theming';

:host {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

$line-color: black;
$line-size: 3px;

@mixin car-fill() {
  background-image: linear-gradient(to bottom, #05372c, #043127, #032c23, #03261e, #02211a);
}

.container {
  width: 80vw;
  min-width: 300px;
  max-width: 600px;
}

.car {
  height: 80vw;
  width: 80vw;
  max-height: 600px;
  max-width: 600px;
  min-width: 300px;
  min-height: 300px;
  margin-bottom: 35px;

  .top {
    padding: 0 6%;
    display: flex;
    justify-content: space-around;
    height: 35%;

    .ceiling {
      width: 100%;
      border: $line-size solid $line-color;
      border-bottom: none;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 5%;
      @include car-fill();

      .windshield {
        height: 60%;
        border: $line-size solid $line-color;
        border-radius: 15px;
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
        background-repeat: no-repeat;
        background-size: 100vh 100vw;
      }
    }
  }

  .middle {
    height: 38%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5%/10%;
    padding: 2%;
    border: $line-size solid $line-color;
    // background: $car-color;
    @include car-fill();

    .bumper {
      height: 50%;
      display: inline-flex;
      justify-content: space-between;
      border-bottom: $line-size solid $line-color;
      padding: 0 4% 7% 4%;

      .tail-light {
        height: 100%;
        width: 18%;
        display: flex;
        flex-direction: column;
        border: $line-size solid $line-color;
        border-radius: 40%/30%;
        overflow: hidden;

        div {
          height: 100%;
        }

        div:not(:last-child) {
          border-bottom: 1px solid $line-color;
        }

        .break {
          background-color: rgba(255, 68, 68, 0.25);
        }

        .backup {
          height: 35%;
          background-color: rgba(255, 255, 255, 0.25);
        }

        .turn-light {
          height: 65%;
          background-color: rgba(255, 186, 90, 0.25);
          background-clip: content-box;
        }
      }

      .plate {
        height: 60%;
        width: 35%;
        background: white;
        border: $line-size solid $line-color;
        border-radius: 10px;
        text-align: center;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }

  .bottom {
    display: inline-flex;
    justify-content: space-between;
    padding: 0 7%;
    height: 21%;
    width: 86%;

    .tire {
      border: $line-size solid $line-color;
      border-top: none;
      border-bottom-left-radius: 25%;
      border-bottom-right-radius: 25%;
      width: 17%;
      background-image: linear-gradient(to right top, #212121, #1f1f1f, #1d1d1d, #1b1b1b, #191919, #191919, #191919, #191919, #1b1b1b, #1d1d1d, #1f1f1f, #212121);
    }
  }

}

.dashboard {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .buttons-container {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    button {
      margin: 5px;
      min-width: 75px;
    }
  }
}

::ng-deep .break .break {
  background-color: rgba(255, 68, 68, .85) !important;
  box-shadow: 0px 0px 50px 0px rgba(255, 68, 68, 0.5);
}

::ng-deep .backup .backup {
  background-color: rgba(255, 255, 255, 0.95) !important;
  box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.5);
}

::ng-deep .left .turn-light.left,
::ng-deep .right .turn-light.right,
::ng-deep .blinker .turn-light {
  animation: blink .8s ease-in-out infinite;
}

::ng-deep .blinker .turn-light {
  animation-delay: 1s;
}

@keyframes blink {
  0% {
    background: rgba(255, 186, 90, 0.5);
    box-shadow: 0px 0px 15px 0px rgba(255, 186, 90, 0);
  }

  15% {
    background: rgba(255, 186, 90, 0.85);
    box-shadow: 0px 0px 50px 0px rgba(255, 186, 90, 0.5);
  }

  40% {
    background: rgba(255, 186, 90, 0.85);
    box-shadow: 0px 0px 50px 0px rgba(255, 186, 90, 0);
  }

  100% {
    background: rgba(255, 186, 90, 0.5);
    box-shadow: 0px 0px 15px 0px rgba(255, 186, 90, 0);
  }
}
